@import url('https://fonts.cdnfonts.com/css/nimbus-mono-ps');

body {
    font-family: 'Nimbus Mono PS', monospace;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    text-align: center;
}

header {
    background-color: #1e1e1e;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    color: #ffcc00;
}

section {
    padding: 50px 20px;
}

a {
    color: #ffcc00;
}

a:hover {
    color: #ffffff;
}

footer {
    background-color: #1e1e1e;
    padding: 10px;
    font-size: 0.9rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
